.auth-container {
  background: url('/login-bg.jpg') center/cover no-repeat;
  position: relative;
  height: 100vh;
}

.auth-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 32, 44, 0.5);
}

.auth-card {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  width: 400px;
}
